<div class='footer'>
  <div class='footer-store-btn'>
    <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
    <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
  </div>
  <div class='footer-contents'>
    <div class='furima-details'>
      <ul class='footer-content-head'>
        <li><%= link_to 'コミっけについて', "#", class: "footer-link" %></li>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© COMIKKE</p>
</div>