<%= render "shared/header" %>

<div class="form-contents">
  <div class="form-main">
    <h2 class="form-title">会員情報入力</h2>
    <%= form_with model: @user, url: user_session_path, class: 'session-main', local: true do |f| %>

      <%= render 'shared/error_messages', model: f.object %>

      <div class="form-group">
        <div class="form-group-row">
          <%= f.label :name, 'メールアドレス', class:'form-text' %>
          <span class="indispensable">必須</span>
          <div class="col-md-9">
            <%= f.email_field :email, class: "form-control", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
          </div>
        </div>

        <div class="form-group-row">
          <%= f.label :name, 'パスワード', class:'form-text' %>
          <span class="indispensable">必須</span>
          <div class="col-md-9">
            <%= f.password_field :password, class: "form-control", id:"password", placeholder:"6文字以上の半角英数字" %>
          </div>
        </div>

        <div class="form-group-row justify-content-end">
          <div class="col-md-9">
            <%= f.submit 'ログイン', class:"btn btn-success" %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>

<%= render "shared/footer" %>