<%= render "shared/header" %>
<div class="main">
  <div class='title-contents'>
    <h2 class='service-title'>
      あなたの読みたいマンガが見つかる
    </h2>
    <p class='service-explain'>
      マンガ好きが集まるコミュニティサービス
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <div class='post-contents'>
    <h2 class='title'>新着投稿</h2>
    <%= render partial: "post" %>
  </div>
</div>

<%= render "shared/footer" %>